@import '../../Styles/variables.scss';

.poker-table {
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  background-color: #5e87af;
  border: solid 2px #3d6993;
  overflow-y: auto;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - #{$header-height});
  top: #{$header-height};
  position: relative;
}
